.transition-button {
    transition: all;
    background-color: blue; 
    transition: background-color 0.5s ease;
font-size: 20px;
  }
  
  .transition-button:hover {
    background-color: green; 
  }
 
  .transition-div {
    transition: all;
    background-color: rgb(105, 105, 158); 
    transition-duration: 1s;
    width: 100px;
    height: 100px;
    align-items: center;
    font-size: 30px;
  }
  
  .transition-div:hover {
    width: 200px; 
    height: 100px;
    align-items: center;
  }
  
  
  .transition-text {
    transition: all;
    transition-duration: 0.3s;
    align-items: center;
    font-size: 16px;
  }
  
  .transition-text:hover {
    align-items: center;
    font-size: 24px;
  }
  
  .transition-image {
    transition: all;
    transition-duration: 0.8s;
   opacity: 1;
   width: 200px;
   height: 200px;
  }
  
  .transition-image:hover {
    opacity: 0.5;
    width: 200px;
   height: 200px;
  }

  .scale-div {
    transition: all;
    align-content: center;
    transition-duration: 0.8s;
    background-color: aqua;
   width: 200px;
   height: 200px;
  }
  
  .scale-div:hover {
 transform: scale(1.5);
  }

  .scale-image {
    transition: all;
    transition-duration: 2s;
   width: 200px;
   height: 200px;
  }
  
  .scale-image:hover {
    transform: scale(-.75);
    width: 200px;
   height: 200px;
  }

  .translate-button {
    transition: all;
    transition-duration: 3s;
  }
  
  .translate-button:hover {
  transform: translate(50px,20px);
  }

  .translate-div {
    transition: all;
    transition-duration: 3s;
    background-color: rgb(41, 111, 81);
    width: 200px;
    height: 200px;
    margin-left: 500px;
  }
  
  .translate-div:hover {
  transform: translate(-100px,0px);
  }
 
  .skew-heading:hover {
   transition: all;
      }

  .skew-heading:hover {
transform: skewX(20deg);
  }

  .skew-paragraph {
  font-size: 50px;
  transition: all;
      }

 .skew-paragraph:hover{
    transform: skewY(15deg);
 }
    